<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.chigraphicalillustrations.TestApp"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>TestApp</name>

    <description>
        A simple Testing application
    </description>

    <author href="http://chigraphicalillustrations.com" email="chiakochima1gman@gmail.com">
        Chiaka Chima
    </author>

</widget>
